bin/
include/
lib/
pyvenv.cfg
src/__pycache__/
.DS_Store
src/.DS_Store
pyvenv.cfg
lib64/
share/
Scripts/
Lib/
Include/
src/DatabaseConnection/__pycache__/
src/Doctors/__pycache__/
src/Treatment/__pycache__/
src/Diagnosis/__pycache__/
/__pycache__/
