<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>


    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-light">
            <a style="font-size: 23px; font-color: #524F4E" class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                <b>+Health</b>
            </a>
            <form class="form-inline my-2 my-lg-0">
                <a href="{{ url_for('logout') }}">
                    <button class="btn btn-danger my-2 my-sm-0" type="button">Log out</button>
                </a>
            </form>
        </nav>

        <div style="background-color: #D7EAF1">
            <div class="container">
                <div class="row">
                    <div style="margin-top: 1%; margin-bottom: 1%" class="col-lg-3">
                        <img class="rounded-circle" src="{{ url_for('static', filename='images/profile.jpg') }}" width="230" height="230">
                    </div>
                    <div style="margin-top: 7%; margin-bottom: 7%" class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>{{ patient [1] }} {{ patient[2] }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4>Patient Id:</h4>
                            </div>
                            <div class="col-lg-10">
                                <h4>{{ patient[0] }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>




        <div class="container">
            <div class="row">
                <img style="float: left; margin-right: 2%" src="{{ url_for('static', filename='images/icons/medical_history.png') }}" width="25" height="25">
                <h4>Medical History</h4>
            </div>
            <br>

            {% for file in medical_files %}
            <div class="row">
                {% if file[0] == "diagnosis" %}
                <div style="border-left: 5px solid red" class="col-lg-12">
                {% endif %}
                {% if file[0] == "treatment" %}
                <div style="border-left: 5px solid blue" class="col-lg-12">
                {% endif %}
                {% if file[0] == "study" %}
                <div style="border-left: 5px solid green" class="col-lg-12">
                {% endif %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>Type: </b>{{ file[0] }}</p>
                        </div>
                    </div>

                    {% if file[0] != "study" %}
                        <div class="row">
                            <div class="col-lg-12">
                                <p><b>Created by: </b>{{ file[2] }} {{ file[3] }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <p><b>Date: </b>{{ file[1] }}</p>
                        </div>
                    </div>

                    {% if file[0] == "diagnosis" %}
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Description:</b>
                            <p>{{ file[4] }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if file[0] == "treatment" %}
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Prescription:</b>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-5">
                            <p>Description:</p>
                        </div>
                        <div class="col-lg-3">
                            <p>Administration:</p>
                        </div>
                        <div class="col-lg-2">
                            <p>Dose:</p>
                        </div>
                        <div class="col-lg-2">
                            <p>Frequency:</p>
                        </div>
                    </div>
                    <hr>


                    {% for treatment in treatments %}
                        {% for treat in treatment %}
                            {% if file[4] == treat[0] %}
                            <div class="row">
                                <div class="col-lg-5">
                                    <p>{{ drugs[treat[1]-1][1] }}</p>
                                </div>
                                <div class="col-lg-3">
                                    <p>{{ treat[4] }}</p>
                                </div>
                                <div class="col-lg-2">
                                    <p>{{ treat[3] }}</p>
                                </div>
                                <div class="col-lg-2">
                                    <p>{{ treat[2] }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                    {% endif %}

                    {% if file[0] == "study" %}
                    <div class="row">
                        <div class="col-lg-12">
                            <b>Description:</b>
                            <p>{{ file[2] }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <b>File:</b>
                            <a href="{{ url_for('static', filename='studies/' + file[3]) }}">{{ file[3] }}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            {% endfor %}
        </div>
    </body>

</html> 