<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>


    <body style="background-color: rgba(22,22,22,0.3)">
        <div style="margin-top: 2%; margin-left: 2%; margin-right:2%;" class="row">
            <div class="col-lg-2"></div>
            <div style="background-color: #ffffff; border-radius: 10px" class="col-lg-8">
                <div style="margin: 1%;" class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2 text-center">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-lg-4">
                       <h4>New Treatment</h4>
                    </div>
                    <div class="col-lg-5"></div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-primary" onclick="add()">Add</button>
                    </div>
                    <div class="col-lg-1">
                         <button class="btn btn-light my-2 my-sm-0" type="submit">Cancel</button>   
                    </div>
                    <button class="btn btn-info my-2 my-sm-0" type="submit">Create</button>
                </div>
                
                <br>

                <form id="treatment">
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Date:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Date:</b>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-lg-5">
                            <b>Description:</b>
                        </div>
                        <div class="col-lg-2">
                            <b>Administration:</b>
                        </div>
                        <div class="col-lg-2">
                            <b>Dose:</b>
                        </div>
                        <div class="col-lg-3">
                            <b>Frequency (Every):</b>
                        </div>
                    </div>
                    <hr>

                        <script>
                            var value = 1

                            function add(){
                                $('#treatment').append(
                                    '<div class="row">\
                                        <div class="col-lg-5"> \
                                            <input type="text" class="form-control" id="description' + value + '"> \
                                        </div> \
                                        <div class="col-lg-2"> \
                                            <input type="text" class="form-control" id="administration' + value + '"> \
                                        </div> \
                                        <div class="col-lg-2"> \
                                            <input type="text" class="form-control" id="dose' + value + '"> \
                                        </div> \
                                        <div class="col-lg-1"> \
                                            <input type="text" class="form-control" id="frequency_value' + value + '"> \
                                        </div>\
                                        <div class="col-lg-2" \
                                        <input type="hidden">\
                                            <select id="frequency' + value + '" class="form-control">\
                                                <option value="hours">Hours</option>\
                                                <option value="days">Days</option>\
                                            </select>\
                                        </div>\
                                    </div>\
                                    <br>')

                                value++
                            }

                        </script>

                </form>

            </div>
        </div>
                
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    </body>

</html> 