<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>


<!--- Background color, without the rows -->

<body style="background-color: rgba(22,22,22,0.3)">
    <div style="margin-top: 2%; margin-left: 2%; margin-right:2%;" class="row">
        <div class="col-lg-3"></div>
        <div style="background-color: #ffffff; border-radius: 10px" class="col-lg-6">
            <div style="margin: 1%;" class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-2 text-center">
                    <!--- Page's logo-->
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                </div>
            </div>

            <hr>

            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="patient_number" placeholder="Enter the patient number">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <!--- Cancel button, gets back to the doctor's page -->
                        <button type="submit" class="btn btn-secondary">Cancel</button>
                    </div>
                    <div class="col-lg-2">
                        <!--- Search button, looks for the patient in the db, 'danger' for red color -->
                        <button type="submit" class="btn btn-danger">Search</button>
                    </div>
                </div>
            </form>



            <!-- OPTIONAL -->
            <div style="margin-bottom: 5%; margin-top: 5%; border-radius: 15px" class="border">
                <form style="margin-top: 3%; margin-bottom: 3%; margin-left: 3%">
                    <div class="row">
                        <div class="col-lg-3">
                            <!--- Patient's image-->
                            <img class="rounded-circle" src="{{ url_for('static', filename='images/profile.jpg') }}" width="170" height="170">
                        </div>
                        <div style="margin-top: 4%" class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>ID:</p>
                                </div>
                                <!--- Assigned ID-->
                                <div class="col-lg-6">
                                    <b># 12345678</b>
                                </div>
                                <div style="margin-right: 2%" class="col-lg-3">
                                    <a href="{{ url_for('view_patient') }}">
                                        <button type="button" class="btn btn-info">View Patient</button>
                                    </a>
                                </div>
                            </div>
                            <!--- Example -->
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Name:</p>
                                </div>
                                <div class="col-lg-10">
                                    <b>Ricardo Luna Guerrero</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <p>Location:</p>
                                </div>
                                <div class="col-lg-10">
                                    <b>Chihuahua, Chihuahua</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

</body>

</html>