<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>


    <body style="background-color: rgba(22,22,22,0.3)">
        <div style="margin-top: 2%; margin-left: 2%; margin-right:2%;" class="row">
            <div class="col-lg-2"></div>
            <div style="background-color: #ffffff; border-radius: 10px" class="col-lg-8">
                <div style="margin: 1%;" class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2 text-center">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                    </div>
                </div>

                <hr>
                <h4><b>Sign Up</b></h4>

                <br>

                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" placeholder="Enter your last name">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="doctorgarcia@doctor.doc">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="email_confirm">Confirm Email</label>
                                <input type="email" class="form-control" id="email_confirm" placeholder="doctorgarcia@doctor.doc">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="confirmInputPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmInputPassword1" placeholder="Write the password again">
                            </div>
                        </div>
                    </div>

                    <!-- Personal info -->
                    
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="birthday">Birthday</label>
                                <input type="date" class="form-control" id="birthday">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Example format xxx-xxx-xxxx">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="school">Graduated From:</label>
                                <select class="form-control" id="school">
                                    <option>Tec de Monterrey</option>
                                    <option>UACH</option>
                                    <option>Universidad de Durango</option>
                                    <option>Otra</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="graduacion">Fecha de graduación</label>
                                <input type="date" class="form-control" id="graduacion">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="speciality">Speciality</label>
                                <input type="text" class="form-control" id="speciality">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="hospital">Hospital where you are currently working</label>
                                <input type="text" class="form-control" id="hospital" placeholder="CIMA">
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" placeholder="Mexican Empire">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" id="state" placeholder="Ranchihuahua">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Capital del mundo">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="street">Street</label>
                                <input type="text" class="form-control" id="street" placeholder="Brontosaurio">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="zipcode">Zip Code</label>
                                <input type="text" class="form-control" id="zipcode" placeholder="42069">
                            </div>
                        </div>
                    </div>
                    
                    <div style="margin-bottom: 2%" class="row">
                        <!-- Submit & cancel buttons -->
                        <div class="col-lg-5"></div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-secondary">Cancel</button>
                        </div>
                        <div class="col-lg-1">
                            <!-- 'danger' for the red color -->
                            <button type="submit" class="btn btn-danger">Create</button>
                        </div>
                    </div>




                </form>

            </div>
        </div>
                

    </body>

</html> 