<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>


<body style="background-color: rgba(22,22,22,0.3)">
    <div style="margin-top: 2%; margin-left: 2%; margin-right:2%;" class="row">
        <div class="col-lg-4"></div>
        <div style="background-color: #ffffff; border-radius: 10px" class="col-lg-4">
            <div style="margin: 1%;" class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-2 text-center">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                </div>
            </div>

            <hr>
            <h4><b>Sign Up</b></h4>

            <form action="/sign_up" method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input onInput="checkLength(50,this)" type="text" class="form-control" name="first_name" placeholder="Enter your first name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input onInput="checkLength(50,this)" type="text" class="form-control" name="last_name" placeholder="Enter your last name">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input onInput="checkLength(250,this)" type="email" class="form-control" id="email" name="email" placeholder="doctorgarcia@doctor.doc">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="email2">Confirm Email</label>
                            <input onInput="checkLength(250,this) compare(this)" type="email" class="form-control" onkeyup="compare()" id="email2" name="email2" placeholder="doctorgarcia@doctor.doc">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input onInput="checkLength(30,this)" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input onInput="checkLength(30,this)" type="password" class="form-control" name="password2" placeholder="Write the password again">
                        </div>
                    </div>
                </div>

                <!-- Personal info -->

                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <label for="birthdate">Birthdate</label>
                            <input type="date" class="form-control" name="birthdate">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input onInput="checkLength(12,this)" type="tel" class="form-control" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="XXX-XXX-XXXX">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sex">Sex</label>
                            <select class="form-control" name="sex">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="school">Graduated From:</label>
                            <select class="form-control" name="school">
                                    <option>Tec de Monterrey Campus Chihuahua</option>
                                    <option>UACH</option>
                                    <option>Universidad de Durango Campus Chihuahua</option>
                                    <option>UVM Campus Chihuahua</option>
                                    <option>UNAM</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="graduation">Graduation date:</label>
                            <input type="date" class="form-control" name="graduation">
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="speciality">Speciality</label>
                            <select class="form-control" name="speciality">
                                    <option>Allergy</option>
                                    <option>Immunology</option>
                                    <option>Anesthesiology</option>
                                    <option>Dermatology</option>
                                    <option>Diagnositc Radiology</option>
                                    <option>Neurology</option>
                                    <option>Ophtalmology</option>
                                    <option>Pathology</option>
                                    <option>Pediatrics</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="hospital">Hospital</label>
                            <select class="form-control" name="hospital">
                                    <option>Hospital Angeles</option>
                                    <option>Star Medica</option>
                                    <option>Christus Muguerza</option>
                                    <option>Clinica Panamericana</option>
                                    <option>Unidad Medica Familiar IMSS #44</option>
                                </select>
                        </div>
                    </div>
                </div>


                <div style="margin-bottom: 2%" class="row">
                    <!-- Submit & cancel buttons -->
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                    <div class="col-lg-2">
                        <!-- 'danger' for the red color -->
                        <button id='create' type="submit" class="btn btn-danger">Create</button>
                    </div>
                </div>


            </form>

        </div>
    </div>

    <script>
        function checkLength(len, ele) {
            var fieldLength = ele.value.length;
            if (fieldLength <= len) {
                return true;
            } else {
                var str = ele.value;
                str = str.substring(0, str.length - 1);
                ele.value = str;
            }
        }
    </script>


</body>

</html>