<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    </head>


    <body style="background-color: rgba(22,22,22,0.3)">
        <div style="margin-top: 2%; margin-left: 2%; margin-right:2%;" class="row">
            <div class="col-lg-4"></div>
            <div style="background-color: #ffffff; border-radius: 10px" class="col-lg-4">
                <div style="margin: 1%;" class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2 text-center">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
                    </div>
                </div>

                <hr>
                <h4><b>Sign Up</b></h4>

                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" placeholder="Enter your first name">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" placeholder="Enter your last name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="doctorgarcia@doctor.doc">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmInputPassword1" placeholder="Write the password again">
                    </div>

                    <!-- Personal info -->

                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender">
                          <option>Male</option>
                          <option>Female</option>
                          <option>Other</option>
                          <option>I dont want to specify</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input type="date" class="form-control" id="birthday">
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Example format xxx-xxx-xxxx">
                    </div>

                    <div class="form-group">
                        <label for="address1">Address Line 1</label>
                        <input type="text" class="form-control" id="address1" placeholder="Line 1 of your address">
                        <label for="address2">Address Line 2</label>
                        <input type="text" class="form-control" id="address2" placeholder="Line 2 of your address">
                    </div>

                    <div class="form-group">
                        <label for="school">Graduated From:</label>
                        <input type="text" class="form-control" id="school" placeholder="Tec de Monterrey">
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="graduacion">Fecha de graduación</label>
                                <input type="date" class="form-control" id="graduacion">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="speciality">Speciality</label>
                                <input type="text" class="form-control" id="speciality">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="hospital">Hospital where you are currently working</label>
                        <input type="text" class="form-control" id="hospital" placeholder="Enter the name of the hospital where you're currently working">
                    </div>

                    <a href="{{ url_for('doctor_profile') }}">
                        <button id="button" style="margin-right: 10px" class="btn btn-primary" type="button">
                        Create Account</button>
                    </a>

                </form>

            </div>
        </div>
                


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    </body>

</html> 