<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>


<body>

    <!-- Navbar -->
    <nav class="navbar navbar-light">
        <a style="font-size: 23px; font-color: #524F4E" class="navbar-brand" href="#">
            <!--- Brand information (logo & name) -->
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40">
            <b>+Health</b>
        </a>
        <form class="form-inline my-2 my-lg-0">
            <!--- 'danger' for the red color -->
            <a href="{{ url_for('logout') }}">
                <button class="btn btn-danger my-2 my-sm-0" type="button">Log out</button>
            </a>
        </form>
    </nav>

    <div style="background-color: #D7EAF1">
        <div class="container">
            <!--- Patient's account information (picture, name, ID) -->
            <div class="row">
                <div style="margin-top: 1%; margin-bottom: 1%" class="col-lg-3">
                    <!--- Patient's profile image -->
                    <img class="rounded-circle" src="{{ url_for('static', filename='images/profile.jpg') }}" width="230" height="230">
                </div>
                <div style="margin-top: 7%; margin-bottom: 7%" class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>{{ patient [1] }} {{ patient[2] }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <h4>Patient Id:</h4>
                        </div>
                        <div class="col-lg-10">
                            <h4>{{ patient[0] }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 2%" class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <img style="float: left; margin-right: 2%" src="{{ url_for('static', filename='images/icons/person.png') }}" width="25" height="25">
                    <h4>About</h4>
                </div>

                <br>

                <!--- Personal information -->
                <div>
                    <h5><b>Contact Information</b></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>PHONE:</b>
                        </div>
                        <p style="color:#14779C; font-weight: normal;">{{ patient[7] }}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Email:</b>
                        </div>
                        <p style="color:#14779C; font-weight: normal;">{{ patient[3] }}</p>
                    </div>
                </div>

                <br>

                <div>
                    <h5><b>Basic Information</b></h5>
                    <hr>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Birthday:</b>
                        </div>
                        <p style="color:#14779C; font-weight: normal;">{{ patient[5] }}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Gender:</b>
                        </div>
                        <p style="color:#14779C; font-weight: normal;">{{ patient[6] }}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div style="text-align: center" class="card-body">
                                <p><b>Allergies:</b></p>
                                <div class="row">
                                    <div class="col-auto">
                                        <!--- 'warning' for yellow color -->
                                        <h5><span class="badge badge-warning">ALERGIA A MEDICINA</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div style="text-align: center" class="card-body">
                                <p><b>Chronical Diseases:</b></p>
                                <div class="row">
                                    <div class="col-auto">
                                        <!--- 'danger' for red color -->
                                        <h5><span class="badge badge-danger">ENFERMEDADES CRONICAS</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>

        <!--- Medical Information -->
        <div class="row">
            <!--- Medical info logo -->
            <img style="float: left; margin-right: 1%" src="{{ url_for('static', filename='images/icons/medical_information.png') }}" width="25" height="25">
            <h4>Medical Information</h4>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <form action="/view_patient" method="POST">
                    <div class="card">
                        <h5 class="card-header">View Medical History</h5>
                        <div style="text-align: center" class="card-body">
                            <p style="text-align: left" class="card-text">See the last treatments, diagnosis and medical studies.</p>
                            <!-- Specifies the link's destination -->
                            <button class="btn btn-secondary" type="submit">View Medical History</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Create Treatment</h5>
                    <div style="text-align: center" class="card-body">
                        <p style="text-align: left" class="card-text">Create a new treatment with all the indications.</p>
                        <!-- Specifies the link's destination -->
                        <a href=" {{ url_for('new_treatment') }}" class="btn btn-secondary">New Treatment</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">Create Diagnosis</h5>
                    <div style="text-align: center" class="card-body">
                        <p style="text-align: left" class="card-text">Create a new diagnosis explaining signs and symptoms.</p>
                        <!-- Specifies the link's destination -->
                        <a href=" {{ url_for('new_diagnosis') }}" class="btn btn-secondary">New Diagnosis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>